<div class="flex gap-3 items-center relative">
  <div class="flex gap-5">
    <img src="assets/icons/notifications-icon.svg" class="w-[15px] h-[15px]" />
    <img src="assets/icons/chat-icon.svg" class="w-[15px] h-[15px]" />
  </div>
  <button
    class="w-[90px] h-[30px] bg-transparent rounded-md border-[1px] border-white text-xs font-normal text-white"
  >
    Wallet
  </button>
  <div class="flex relative">
    <div
      *ngIf="isDropdownOpen"
      class="absolute -left-3 top-6 mt-2 w-25 bg-[#212749] text-white rounded-md shadow-lg"
    >
      <a href="#" class="block px-4 py-2 text-xs whitespace-nowrap hover:text-black w-[90%] mx-auto border-b border-white"
        >View Profile</a
      >
      <a href="#" class="block px-4 py-2 text-xs hover:text-black w-[90%] mx-auto border-b border-white">Settings</a>
      <a href="#" class="block px-4 py-2 text-xs hover:text-black w-[90%] mx-auto">Logout</a>
    </div>
    <span
      (click)="toggleDropdown()"
      class="material-icons text-sm text-white cursor-pointer"
      >arrow_drop_down</span
    >
    <img
      (click)="toggleDropdown()"
      src="assets/icons/profile-picture-icon.svg"
      alt=""
      class="w-[30px] h-[30px] cursor-pointer"
    />
  </div>
</div>
