<div class="flex justify-around items-center mt-10 p-6">
  <div>
    <img
      src="assets/images/Vogue-logo.svg"
      alt=""
      class="w-40 h-[40px] cursor-pointer"
    />
    <p class="text-white text-[10px] leading-[1.5] mt-2">
      Empowering brands to create, list and trade NFTs seamlessly. <br> Bridging the
      gap between fashion and blockchain by providing a <br> unique platform for
      digital ownership and innovation. Discover the <br> future of fashion with
      VogueChain.
    </p>
  </div>
  <about-footer></about-footer>
  <company-footer></company-footer>
  <contact-footer></contact-footer>
</div>
