<div class="relative w-64">
  <!-- Hide the search icon when input is focused -->
  <img
    *ngIf="!isFocused"
    src="assets/icons/search-icon.svg"
    alt=""
    class="absolute left-2 top-3 w-[10px] h-[10px]"
  />
  <input
    type="text"
    [placeholder]="
      isFocused ? '' : 'Search Items, Fashion, Collection and Users'
    "
    (focus)="handleFocus()"
    (blur)="handleBlur()"
    class="border border-white h-[30px] w-64 rounded-2xl pl-6 focus:outline-none placeholder:text-white placeholder:text-left placeholder:text-[10px] placeholder:font-light"
  />
</div>
