<div class="flex flex-col items-left">
  <h2 class="text-[12px] font-bold text-white mb-1">Contact</h2>
  <div class="flex flex-col gap-1">
    <a class="text-xs font-medium text-[#50546e]" href="">+012 3456789</a>
    <a class="text-xs font-medium text-[#50546e]" href=""
      >voguechain&#64;gmail.com</a
    >
    <div class="flex justify-between items-center mt-2">
      <img
        src="assets/icons/youtube-icon.svg"
        alt=""
        class="w-[20px] h-[20px] cursor-pointer"
      />
      <img
        src="assets/icons/discord-icon.svg"
        alt=""
        class="w-[20px] h-[20px] cursor-pointer"
      />
      <img
        src="assets/icons/instagram-icon.svg"
        alt=""
        class="w-[20px] h-[20px] cursor-pointer"
      />
    </div>
  </div>
</div>
