<div class="flex flex-col justify-center items-center p-4 mt-10 gap-5">
  <h1 class="text-xl text-white font-bold">About Us</h1>
  <p class="text-[#9d959f] text-sm text-center">
    Discover the future of fashion <br />
    with VogueChain.
  </p>
  <div class="flex justify-between items-center gap-10">
    <div>
      <img
        src="assets/images/about-bg.svg"
        alt=""
        class="w-2xs cursor-pointer"
      />
    </div>
    <div class="flex flex-col gap-3">
      <h2 class="text-lg font-bold text-white">Fashion That Speaks</h2>
      <p class="text-[#9d959f] text-sm text-left leading-[1.5]">
        VogueChain is a revolutionary fashion marketplace that bridges the
        <br />
        gap between fashion and blockchain technology. Designed for <br />
        forward-thinking brands and creators, VogueChain empowers <br />
        users to create, list, and trade NFTs representing unique fashion <br />
        items, digital wearables, and exclusive collections. <br />
        By harnessing the power of blockchain, VogueChain secures <br />
        authenticity, ownership, and transparency for every transaction. <br />
        VogueChain offers a seamless and intuitive interface for brands <br />
        to showcase their digital works, connecting with a worldwide audience,
        <br />
        and monetizing their designs in the quickly expanding metaverse. <br />
        VogueChain gives luxury fashion houses and new designers the tools
        <br />
        they need to innovate and survive in the digital fashion sector.
      </p>
      <app-button
        label="Show more"
        type="submit"
        class="w-[90px] h-[35px] bg-[#8f3bf3] text-white text-xs rounded-lg cursor-pointer"
      ></app-button>
    </div>
  </div>
</div>
